# Build scripts
.artifacts/

# Binaries
bin/
obj/
tools/

# Visual Studio
.vs

# macOS
.DS_Store

# Rider
.idea/

# Templates
templates/*/.editorconfig
templates/*/.gitignore
templates/*/CODE_OF_CONDUCT.md
templates/*/LICENSE.md
templates/*/dotnet-tools.json
templates/*/global.json
templates/*/src/.editorconfig
templates/*/src/Directory.Build.props
templates/*/src/Directory.Build.targets
templates/*/src/Directory.Packages.props
templates/*/src/TheProject.Tests/.editorconfig
templates/*/src/stylecop.json

