.artifacts/
bin/
obj/
.vs

# Copied in by build script
templates/lib/.editorconfig
templates/lib/.gitignore
templates/lib/CODE_OF_CONDUCT.md
templates/lib/LICENSE.md
templates/lib/dotnet-tools.json
templates/lib/global.json
templates/lib/src/.editorconfig
templates/lib/src/Directory.Build.props
templates/lib/src/Directory.Build.targets
templates/lib/src/TheProject.Tests/.editorconfig
templates/cli/.editorconfig
templates/cli/.gitignore
templates/cli/CODE_OF_CONDUCT.md
templates/cli/LICENSE.md
templates/cli/dotnet-tools.json
templates/cli/global.json
templates/cli/src/.editorconfig
templates/cli/src/Directory.Build.props
templates/cli/src/Directory.Build.targets
templates/cli/src/TheProject.Tests/.editorconfig
