Title: Start
NoContainer: true
---
@section Splash {
    <div id="hero" class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <div class="display-4 text-white">MyClassLib</div> 
            <p class="lead text-white">
                Add description here
                <br /><br />
                <a class="btn btn-primary" href="/myclasslib/docs" role="button">Take me to the documentation</a>
            </p>
        </div>
    </div>
}